<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="!imageData">
      <ion-button class="image ion-no-margin ion-no-padding" expand="block" fill="clear" (click)="signatureRequested()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
  </ng-container>
  <div class="icon-wrapper" *ngIf="imageData">
    <div class="wrapped-icon image">
      <img src="data:image/jpg;base64,{{ imageData }}" />
    </div>
  </div>
</ion-content>
